<ion-header>

  <ion-navbar color = "primary" hideBackButton>
    <ion-buttons left>
      <button ion-button (click)="Volver()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Materias</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div *ngIf="cargando" style="text-align: center;">
      <label style="color:blue;">CARGANDO DATOS. ESPERE UN MOMENTO</label>
  </div>
  <div *ngIf="!cargando">
    <ion-list>
    <ion-list-header>Hoy</ion-list-header>
        <div *ngFor="let materia of listaArmada;">
          <div *ngIf="materia[2] == 'Sabado' || materia[3] == 'Sabado' || materia[4] == 'Sabado'">
                  <ion-item>
                    <ion-avatar item-start>
                      <img [src]="materia[0]">
                    </ion-avatar>
                    {{materia[1]}}
                    <br>
                    {{materia[2]}} {{materia[3]}} {{materia[4]}} - {{materia[5]}}
                  </ion-item>
            </div>
        </div>
  </ion-list>
  <div>
    <ion-list>
      <ion-list-header>Otros dias</ion-list-header>
        <div *ngFor="let materia of listaArmada;">
          <div *ngIf="materia[2] != 'Sabado' && materia[3] != 'Sabado' && materia[4] != 'Sabado'">
                  <ion-item>
                    <ion-avatar item-start>
                      <img [src]="materia[0]">
                    </ion-avatar>
                    {{materia[1]}}
                    <br>
                    {{materia[2]}} {{materia[3]}} {{materia[4]}} - {{materia[5]}}
                  </ion-item>
            </div>
        </div>
    </ion-list>
  </div>
</div>
</ion-content>
