<ion-header>
  <ion-navbar color = "primary" hideBackButton>
    <ion-buttons left>
      <button ion-button (click)="Volver()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Clases de Hoy</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="list-avatar-page">
  <ion-list>

    <ion-list-header>Hoy</ion-list-header>
    <div *ngFor="let item of divisiones">
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/images/materias/{{item.materia.img}}">
      </ion-avatar>
      <h2>{{item.materia.nombre}}</h2>
      <p>Division: {{item.nombre}} Turno: {{item.turno}}</p>
      <button ion-button round color="danger" icon-left (click)="PedirFalta()" ><ion-icon name="md-alert"></ion-icon>Pedir falta!</button>
      <ion-note item-end style="color:green">{{item.hora}}</ion-note>
    </ion-item>
    </div>
    <ion-list-header>Mañana</ion-list-header>
    <div *ngFor="let item of divisiones">
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/images/materias/{{item.materia.img}}">
      </ion-avatar>
      <h2>{{item.materia.nombre}}</h2>
      <p>Division: {{item.nombre}} Turno: {{item.turno}}</p>
      <ion-note item-end>{{item.hora}}</ion-note>
    </ion-item>
    
  </div>
  </ion-list>

</ion-content>
