<ion-header>
  <ion-navbar color = "primary" hideBackButton>
    <ion-buttons left>
      <button ion-button (click)="Volver()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Listas Divisiones</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <!--ion-list>

    <ion-list-header>Today</ion-list-header>

    <div *ngFor="let item of divisiones" >
      <ion-item (click)="Aceptar(item)">
        <ion-avatar item-start>
          <img src="assets/images/profesor/{{item.materia.img}}">
        </ion-avatar>
        <h2>{{item.nombre}}</h2>
        <p>{{item.estado}}</p>
        <ion-note item-end>{{item.hora}}</ion-note>
      </ion-item>

    </div>
  </ion-list-->
    <ion-list no-border>

    <ion-list-header>
      Mis divisiones
    </ion-list-header>
    <div *ngFor="let item of divisiones" >
    <ion-item (click)="Aceptar(item)">
      <ion-icon name='planet' item-start></ion-icon>
       {{item.nombre}}
      <ion-note item-end>
      {{item.estado}}
      </ion-note>
    </ion-item>
    </div>
  </ion-list>

</ion-content>
