<ion-header>
  <ion-navbar color = "primary" hideBackButton>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons left>
      <button ion-button (click)="Volver()">
        <ion-icon class="customIcon" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-label class = "titulo">Listado de {{tipoListado}}s</ion-label>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf = "tipoListado == 'Usuario'">

  <ion-item>
      <ion-label>Filtrar por </ion-label>
      <ion-select [(ngModel)]="filtro" (ionChange)="onChangeFiltro()">
        <ion-option value="Todos">Todos</ion-option>
        <ion-option value="Alumno">Alumnos</ion-option>
        <ion-option value="Profesor">Profesores</ion-option>
        <ion-option value="Administrativo">Administrativos</ion-option>
      </ion-select>
  </ion-item>
  <ion-item>
      <ion-label>Buscar por </ion-label>
      <ion-select [(ngModel)]="buscar" (ionChange)="onChangeBuscar()">
        <ion-option value="Apellido">Apellido</ion-option>
        <ion-option value="Nombre">Nombre</ion-option>
        <ion-option value="Legajo">Legajo</ion-option>
      </ion-select>
  </ion-item>
  <ion-searchbar (ionInput)="getItems($event)" placeholder = '...'></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let usuario of usuarios">
          <ion-thumbnail item-left>
            <img src="https://avatars3.githubusercontent.com/u/17879446?v=3&s=460"><!-- Imagen del jugador -->
          </ion-thumbnail>
          <h2 class = "nombreUsuario">{{usuario.apellido}}, {{usuario.nombre}}</h2>
          <ion-grid no-padding>
          <ion-row class = "filaMostrar">
            <ion-col width-33>
              <p [ngClass] = "DevolverTipo(usuario) == 'Alumno' ? 'atributoAlumno' : (DevolverTipo(usuario) == 'Profesor' ? 'atributoProfesor' : 'atributoAdministrativo')">
              Legajo :
              </p>
            </ion-col>
            <ion-col><p class = "mostrarAtributo">{{usuario.legajo}}<p></ion-col>
          </ion-row>
          <ion-row class = "filaMostrar">
            <ion-col width-33>
              <p [ngClass] = "DevolverTipo(usuario) == 'Alumno' ? 'atributoAlumno' : (DevolverTipo(usuario) == 'Profesor' ? 'atributoProfesor' : 'atributoAdministrativo')">
              Email :
              </p>
            </ion-col>
            <ion-col><p class = "mostrarAtributo">{{usuario.email}}<p></ion-col>
          </ion-row>
          </ion-grid>
          <p [ngClass] = "DevolverTipo(usuario) == 'Alumno' ? 'tipoUsuarioAlumno' : (DevolverTipo(usuario) == 'Profesor' ? 'tipoUsuarioProfesor' : 'tipoUsuarioAdministrativo')">{{DevolverTipo(usuario)}}</p>
    </ion-item>
  </ion-list>

  </div>

</ion-content>
