<ion-header>

  <ion-navbar color = "primary" hideBackButton>
    <ion-buttons left>
      <button ion-button (click)="Volver()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Datos Division</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-card>

  <ion-card-header>
    <h1 center text-center>Informacion</h1>
  </ion-card-header>

  <ion-card-content>
    <ion-item >
        <h2><ion-icon name='md-eye' item-start style="color: green"></ion-icon>Descripcion: <ion-badge item-end style="color: white">{{division.nombre}}</ion-badge></h2>
        <h2><ion-icon name='md-eye' item-start style="color: green"></ion-icon>Estado: <ion-badge item-end style="color: white">{{division.estado}}</ion-badge></h2>
        <h2><ion-icon name='md-eye' item-start style="color: green"></ion-icon>Turno: <ion-badge item-end style="color: white">{{division.turno}}</ion-badge></h2>
        <h2><ion-icon name='md-eye' item-start style="color: green"></ion-icon>Ciclo: <ion-badge item-end style="color: white">{{division.ciclo.CicloEnCadena}}</ion-badge></h2> 
        <h2><ion-icon name='md-eye' item-start style="color: green"></ion-icon>Cantidad maxima: <ion-badge item-end style="color: white">{{division.cupoMaximo}}</ion-badge></h2>
        <h2><ion-icon name='md-eye' item-start style="color: green"></ion-icon>Cantidad alumnos: <ion-badge item-end style="color: white">{{division.cupoActual}}</ion-badge></h2>
      </ion-item>
  </ion-card-content>
</ion-card>

<ion-card>

   <ion-card-header>
   <ion-item><ion-avatar item-start>
          <img src="assets/images/profesor/{{division.materia.img}}">
        </ion-avatar><h1>Materia</h1></ion-item>
  </ion-card-header>

  <ion-card-content>
      <ion-item >
        <h2><ion-icon name='md-eye' item-start style="color: green"></ion-icon>{{division.materia.nombre}}</h2>
        <p><ion-icon name='md-eye' item-start style="color: green"></ion-icon>Aula: {{division.aula.nombre}}</p>
        <p><ion-icon name='md-eye' item-start style="color: green"></ion-icon>Piso: {{division.aula.piso}}</p>
        <p><ion-icon name='md-eye' item-start style="color: green"></ion-icon>Dias: {{division.dias[0]}}</p>
        <p><ion-icon name='md-eye' item-start style="color: green"></ion-icon>Clase actual: {{division.claseActual}}</p>
        <p><ion-icon name='md-eye' item-start style="color: green"></ion-icon>Cantidad de clases: {{division.cantClases}}</p>
        <p><ion-icon name='md-eye' item-start style="color: green"></ion-icon>Inicio: {{ObtenerFecha(division.fechaInicio)}}</p>
        <p><ion-icon name='md-eye' item-start style="color: green"></ion-icon>Fin: {{ObtenerFecha(division.fechaFin)}}</p>
        <p><ion-icon name='md-eye' item-start style="color: green"></ion-icon>Proxima clase: {{ObtenerFecha(division.fechaProxClase)}}</p>
      </ion-item>
  </ion-card-content>
</ion-card>
<ion-card>
   <ion-card-header>
    <ion-item><ion-avatar item-start>
          <img src="assets/images/profesor/{{division.profesor.img}}">
        </ion-avatar><h1>Profesor</h1></ion-item>
  </ion-card-header>

  <ion-card-content>
    <ion-item >
        
        <h2><ion-icon name='md-eye' item-start style="color: green"></ion-icon>{{division.profesor.nombre}} {{division.profesor.apellido}}</h2>
        <p><ion-icon name='md-eye' item-start style="color: green"></ion-icon>Legajo: {{division.profesor.legajo}}</p>
        <p><ion-icon name='md-eye' item-start style="color: green"></ion-icon>E-mail: {{division.profesor.email}}</p>
      </ion-item>
      <div>
        <button ion-button block round (click)="MostrarAlumnos()">Ver alumnos!</button>
      </div>
      <div *ngIf="mostrar">
        <div *ngFor="let item of alumnos" >
      <ion-item >
        <ion-avatar item-start>
          <img src="assets/images/profesor/{{item.img}}">
        </ion-avatar>
        <h2><ion-icon name='md-eye' item-start style="color: green"></ion-icon>{{item.nombre}} {{item.apellido}}</h2>
        <p><ion-icon name='md-eye' item-start style="color: green"></ion-icon>Legajo: {{item.legajo}}</p>
        <p><ion-icon name='md-eye' item-start style="color: green"></ion-icon>E-Mail: {{item.email}}</p>
      </ion-item>

    </div>
      </div>
  </ion-card-content>

</ion-card>
</ion-content>
