
page-register {

 .login-content {
    background: #868383;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    .div1{
      background: #000000;
      padding: 0px 20px 0px 20px;
      width:280px;
      margin: 0 auto;
      height: 560px;
    }

    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }

     .signup-col {
       padding-bottom: 20px;
       margin-bottom: 0px;
       padding-top: 20px;
     }

     .SignIn-btn {
       background: #51CFB1;
       width: 100px;
       font-size: 0.8em;
     }

     .cancel-btn{
       background: #51CFB1;
       width: 80px;
       font-size: 0.8em;
     }

     .label{
        color:#CCD8D9;
     }

     .ion-textWhite{
        border-color: white;
      }
      .ion-textRed{
        border-color: red;
      }
      .ion-textGreen{
        border-color: green;
      }
  }
}
