.administrador-theme {
 transition: all 1.1s ease;
  // background: linear-gradient(to bottom,rgba(9,16,25,1) 0,rgba(30,28,58,1) 25%,rgba(30,28,58,1) 75%,rgba(11,12,22,1) 100%);

.item-inner,
ion-content {
  background-color: lightgray !important;
}

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 .toolbar-title,
 .bar-button-default,
 body,
 div {
   transition: all 1.1s ease;
   color: white;
 }
 .onboard {
   border-color: #212121 !important;
 }
 .toolbar-background,
 .toggle-checked {
   transition: all 1.1s ease;
   background-color: #222 !important;
 }
 .item-note,
 .themeButton,
 .swiper-pagination-bullet {
   transition: all 1.1s ease;
   //background-color: #fff;
   //border-style: solid;
   //border-width: 1px;
   //border-color: white;
 }
 ion-content,
 .input-wrapper,
 .item-inner,
 .item,
 ion-footer,
 ion-item,
 ion-label {
   transition: all 1.1s ease;
  //  background: #303030 !important;
  //  color: black !important;
 }
 .time {
   background-color: white;
 }
 .item {
   transition: all 1s ease;
   background-color: white;
   color: black;
 }
 .range-bar {
   background-color: #463E3F !important;
 }
 .s2,
 .s3,
 .toggle-inner,
 .range-pin,
 .range-pin::before,
 .range-knob,
 .range-bar-active {
   background-color: white !important;
   color: black !important;
 }

     //Clases propias

    .nombreUsuario {
        color : white;
        border-radius: 10px;
        background-color: gray;
        font-size: medium;
        padding-left: 10px;
        margin-top: 40px;
        opacity: 0.7;
    }

    .atributo {
        color : white;
        border-radius: 10px;
        background-color: #222;
        font-size: medium;
        padding-left: 10px;
        opacity: 0.7;
        margin: 0px 0px 0px 0px;
    }

    .mostrarAtributo {
        color : white;
        border-radius: 10px;
        background-color: gray;
        font-size: medium;
        padding-left: 10px;
        opacity: 0.7;
        text-align: right;
        padding-right: 10px;
        margin: 0px 0px 0px 0px;
    }

    .mostrarAtributoSmall {
        color : white;
        border-radius: 10px;
        background-color: gray;
        font-size: smaller;
        padding-left: 10px;
        opacity: 0.7;
        text-align: right;
        padding-right: 10px;
        margin: 0px 0px 0px 0px;
    }

    .tipoUsuario {
        text-align : right;
        margin: 0px 10px 5px 0px;
        color: white;
    }

    .tipoUsuarioAdministrador {
        text-align: right;
        color : white;
        border-radius: 10px;
        background-color: #222;
        font-size: smaller;
        padding-right: 10px;
        opacity: 0.7;
    }

    .titulo {
        margin-left: 10px;
        //color : white;
        font-weight: bold;
        font-size: large;
    }

    .columnaCentrada{
        display: flex;
        align-items: center;
    }

    .tituloUsuario{
        padding-left: 20px;
        color: white;
    }

    .subtituloUsuario{
        padding-left: 20px;
        color: white;
    }

    .miHeader {
        border-radius: 10px;
        padding-left: 10px;
        margin-bottom: 10px;
        background-color: #222;
    }

    .imagenPerfil {
        border:3px solid white;
        border-radius: 10px;
    }

    .icono {
        color: #222;
    }

    .botonAceptar {
      background-color: olivedrab;
      font-size: 1.5rem;
      border-radius: 10px;
      height: 80px;
    }

    .botonCancelar {
      background-color: crimson;
      font-size: 1.5rem;
      border-radius: 10px;
      height: 80px;
    }

    .botonInfo {
      background-color: orange;
      font-size: 1.5rem;
      border-radius: 10px;
      height: 80px;
    }

    .alta {
      div.input-wrapper {
        background-color : #222;
        ion-label {
          color : white;
        }
      }
      ion-list-header {
        background-color : #222;
        div.input-wrapper {
          background-color : #222;
          ion-label {
            color : white;
          }
        }
      }
    }

    ion-content {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Calibri, 'Trebuchet MS', sans-serif;
      font-size: small;
    }
    ion-navbar {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Calibri, 'Trebuchet MS', sans-serif;
      font-size: small;
    }

    .bug {
      height: 50px;
    }
}