page-home-administrador {
    
    .home {

        background-color : white;
        font-family: 'Calibri';

        scroll-content {
            display: flex;
            flex-direction: column;
        }
        ion-grid {
            padding: 0;
            //height: 100%;
        }
        ion-row {
            flex: 1;
        } 
    }

    .columnaCentrada{
        display: flex;
        align-content: center;
        align-items: center;
        text-align: center;
    }

    img{
    width: 100%;
    height: 100%; 
    }

    .opcion {
        height: 10%;
        color: white;
        font-size : small;
        font-weight: bold;

        border-radius: 50px;
        margin-bottom: 10px;
        background-color: #488aff;
        opacity: 0.7;
    }

    .imgOpcion{
        text-align: center;
        height: 90%
    }

    h2 {
        height: 10%;
        color: white;
        font-size : small;
        font-weight: bold;

        border-radius: 50px;
        margin-bottom: 10px;
        padding-left: 10px;
        background-color: #488aff;
        opacity: 0.7;
    }

}
