page-listado-administrativo {
    .nombreUsuario {
        color : white;
        border-radius: 10px;
        background-color: #f53d3d;
        font-size: medium;
        padding-left: 10px;
        margin-top: 40px;
        opacity: 0.7;
    }

    .atributoAlumno {
        color : white;
        border-radius: 10px;
        background-color: #488aff;
        font-size: smaller;
        padding-left: 10px;
        opacity: 0.7;
    }

    .atributoProfesor {
        color : white;
        border-radius: 10px;
        background-color: #32db64;
        font-size: smaller;
        padding-left: 10px;
        opacity: 0.7;
    }

    .atributo {
        color : white;
        border-radius: 10px;
        background-color: #f53d3d;
        font-size: smaller;
        padding-left: 10px;
        opacity: 0.7;
    }

    .atributoAdministrativo {
        color : white;
        border-radius: 10px;
        background-color: #f53d3d;
        font-size: smaller;
        padding-left: 10px;
        opacity: 0.7;
    }

    .mostrarAtributo {
        color : white;
        border-radius: 10px;
        background-color: gray;
        font-size: smaller;
        padding-left: 10px;
        opacity: 0.7;
        text-align: right;
        padding-right: 10px;
    }

    .tipoUsuarioAlumno {
        text-align: right;
        color : white;
        border-radius: 10px;
        background-color: #488aff;
        font-size: smaller;
        padding-right: 10px;
        opacity: 0.7;
    }

    .tipoUsuarioProfesor {
        text-align: right;
        color : white;
        border-radius: 10px;
        background-color: #32db64;
        font-size: smaller;
        padding-right: 10px;
        opacity: 0.7;
    }

    .tipoUsuarioAdministrativo {
        text-align: right;
        color : white;
        border-radius: 10px;
        background-color: #f53d3d;
        font-size: smaller;
        padding-right: 10px;
        opacity: 0.7;
    }

    .titulo {
        color : white;
        font-weight: bold;
        font-size: large;
    }
}
