<ion-header>

  <ion-navbar color = "primary" hideBackButton>
    <ion-buttons left>
      <button ion-button (click)="Volver()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Asistencia Alumno</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
    <div *ngIf="cargando" style="text-align: center;">
      <label style="color:blue;">CARGANDO DATOS. ESPERE UN MOMENTO</label>
  </div>
  <div *ngIf="!cargando">

  <ion-list>
    <div *ngFor="let list of listaArmada;">
        <ion-list-header style="background-color: #ACA4A2; margin-bottom: 0px;">
          <ion-row>
            <ion-col style="text-align: left;">
                <label style="font-size: 1.5em;">{{list[0]}}</label>
            </ion-col>
            <ion-col style="text-align: right;">
            </ion-col>
          </ion-row>
        </ion-list-header>

          <div *ngFor="let l of list[1];" style="margin-top: 0px;">
              <div *ngIf="l[1]">
                  <ion-item style="background-color: #3DCD67;">
                    <ion-row>
                      <ion-col style="text-align: left;">
                          {{l[0]}}
                      </ion-col>
                      <ion-col style="text-align: right;">
                          Presente
                      </ion-col>
                    </ion-row>
                  </ion-item>
              </div>

              <div *ngIf="!l[1]">
                  <ion-item style="background-color: #EF573C;">
                    <ion-row>
                      <ion-col style="text-align: left;">
                          {{l[0]}}
                      </ion-col>
                      <ion-col style="text-align: right;">
                          Ausente
                      </ion-col>
                    </ion-row>
                  </ion-item>
              </div>
           </div>
           <br>
           <br>
           <br>
        </div>
    </ion-list>
</div>

</ion-content>
