<ion-header>
  <ion-toolbar [color] = "DevolverColor()">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons left>
      <button ion-button (click)="Volver()">
        <ion-icon class="customIcon" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{opciones.mensaje}}</ion-title>
    <ion-item *ngIf = "opciones.tipo == 'Usuario'">
        <ion-label>Agregar usuario</ion-label>
        <ion-select [(ngModel)] = "tipo" (ionChange) = "CambiarTipoDeUsuario()">
          <ion-option value="Alumno">Alumno</ion-option>
          <ion-option value="Profesor">Profesor</ion-option>
          <ion-option value="Administrativo">Administrativo</ion-option>
        </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div *ngIf = "opciones.tipo == 'Usuario'">
    <ion-list>
      <ion-list-header [color] = "DevolverColor()" style = "margin-bottom: 0px !important;" text-left>
        Datos Personales
      </ion-list-header>
      <ion-item>
        <ion-label [color] = "DevolverColor()" floating>Apellido</ion-label>
        <ion-input type="text" [(ngModel)]="usuario.apellido" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label [color] = "DevolverColor()" floating>Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="usuario.nombre" ></ion-input>
      </ion-item>
      <ion-item style = "margin-top : 24px;">
        <ion-label [color] = "DevolverColor()">Sexo</ion-label>
        <ion-select [(ngModel)] = "usuario.sexo">
          <ion-option value="Masculino">Masculino</ion-option>
          <ion-option value="Femenino">Femenino</ion-option>
        </ion-select> 
      </ion-item>
      <ion-item>
        <ion-label [color] = "DevolverColor()" floating>Edad</ion-label>
        <ion-input type="number" [(ngModel)] = "usuario.edad"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label [color] = "DevolverColor()" floating>Legajo</ion-label>
        <ion-input type="number" [(ngModel)] = "usuario.legajo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label [color] = "DevolverColor()" floating>DNI</ion-label>
        <ion-input type="number" [(ngModel)] = "usuario.dni"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label [color] = "DevolverColor()" floating>Email</ion-label>
        <ion-input type="text" [(ngModel)] = "usuario.email"></ion-input>
      </ion-item>
      <ion-list-header [color] = "DevolverColor()" style = "margin-top: 10px; margin-bottom: 0px !important;" text-left>
        Imagen
      </ion-list-header>
      <ion-item text-wrap>
        <ion-thumbnail item-left>
          <img src = "assets/images/administrador/usuario-agregar.png">
        </ion-thumbnail>
          {{rutaImagen}}
        <button ion-button clear item-right [color] = "DevolverColor()">Elegir</button>
      </ion-item>
      <div *ngIf = "tipo != 'Administrativo'">
      <ion-list-header [color] = "DevolverColor()" style = "margin-top: 10px; margin-bottom: 0px !important;" text-left *ngIf = "tipo != 'Administrativo'">
        Divisiones Actuales:
        <button ion-button clear item-right color = "light" (click) = "AddAlListadoDivisiones('Actuales')">Añadir</button>
      </ion-list-header>
      <ion-item *ngIf = "divisionesActuales.length == 0">
        No hay divisiones asignadas.
      </ion-item>
      <div *ngIf = "divisionesActuales.length > 0">
        <ion-item text-wrap *ngFor = "let d of divisionesActuales">
          <ion-thumbnail item-left>
              <img [src] = "'assets/images/materias/' + d.division.materia.img">
            </ion-thumbnail>
          <h3>{{d.division.nombre}} {{d.division.ciclo.CicloEnCadena}}</h3>
          <p>Materia: {{d.division.materia.nombre}}</p>
          <p *ngIf = "tipo == 'Alumno'">Faltas : {{d.faltas}} <small ion-text [color] = "DevolverColor()" (click) = "EstablecerFaltas(d)">ASIGNAR</small></p>
          <button ion-button clear item-right [color] = "DevolverColor()" (click) = "QuitarDelListadoDivisiones('Actuales', d.division.idDivision)">Quitar</button>
        </ion-item>
      </div>
      <ion-list-header [color] = "DevolverColor()" style = "margin-top: 10px; margin-bottom: 0px !important;" text-left *ngIf = "tipo != 'Administrativo'">
        Divisiones no Empezadas:
        <button ion-button clear item-right color = "light" (click) = "AddAlListadoDivisiones('No Empezadas')">Añadir</button>
      </ion-list-header>
      <ion-item *ngIf = "divisionesNoEmpezadas.length == 0">
        No hay divisiones asignadas.
      </ion-item>
      <div *ngIf = "divisionesNoEmpezadas.length > 0">
        <ion-item text-wrap *ngFor = "let d of divisionesNoEmpezadas">
          <ion-thumbnail item-left>
              <img [src] = "'assets/images/materias/' + d.division.materia.img">
            </ion-thumbnail>
          <h3>{{d.division.nombre}} {{d.division.ciclo.CicloEnCadena}}</h3>
          <p>Materia: {{d.division.materia.nombre}}</p>
          <button ion-button clear item-right [color] = "DevolverColor()" (click) = "QuitarDelListadoDivisiones('No Empezadas', d.division.idDivision)">Quitar</button>
        </ion-item>
      </div>
      <ion-list-header [color] = "DevolverColor()" style = "margin-top: 10px; margin-bottom: 0px !important;" text-left *ngIf = "tipo != 'Administrativo'">
        Divisiones Terminadas:
        <button ion-button clear item-right color = "light" (click) = "AddAlListadoDivisiones('Terminadas')">Añadir</button>
      </ion-list-header>
      <ion-item *ngIf = "divisionesTerminadas.length == 0">
        No hay divisiones asignadas.
      </ion-item>
      <div *ngIf = "divisionesTerminadas.length > 0">
        <ion-item text-wrap *ngFor = "let d of divisionesTerminadas">
          <ion-thumbnail item-left>
              <img [src] = "'assets/images/materias/' + d.division.materia.img">
            </ion-thumbnail>
          <h3>{{d.division.nombre}} {{d.division.ciclo.CicloEnCadena}}</h3>
          <p>Materia: {{d.division.materia.nombre}}</p>
          <p *ngIf = "tipo == 'Alumno'">Faltas : {{d.faltas}} <small ion-text [color] = "DevolverColor()" (click) = "EstablecerFaltas(d)">ASIGNAR</small></p>
          <button ion-button clear item-right [color] = "DevolverColor()" (click) = "QuitarDelListadoDivisiones('Terminadas', d.division.idDivision)">Quitar</button>
        </ion-item>
      </div>
      <div *ngIf = "tipo == 'Alumno'">
      <ion-list-header [color] = "DevolverColor()" style = "margin-top: 10px; margin-bottom: 0px !important;" text-left *ngIf = "tipo != 'Administrativo'">
        Divisiones Abandonadas:
        <button ion-button clear item-right color = "light" (click) = "AddAlListadoDivisiones('Abandonadas')">Añadir</button>
      </ion-list-header>
      <ion-item *ngIf = "divisionesAbandonadas.length == 0">
        No hay divisiones asignadas.
      </ion-item>
      <div *ngIf = "divisionesAbandonadas.length > 0">
        <ion-item text-wrap *ngFor = "let d of divisionesAbandonadas">
          <ion-thumbnail item-left>
              <img [src] = "'assets/images/materias/' + d.division.materia.img">
            </ion-thumbnail>
          <h3>{{d.division.nombre}} {{d.division.ciclo.CicloEnCadena}}</h3>
          <p>Materia: {{d.division.materia.nombre}}</p>
          <p>Faltas : {{d.faltas}} <small ion-text [color] = "DevolverColor()" (click) = "EstablecerFaltas(d)">ASIGNAR</small></p>
          <button ion-button clear item-right [color] = "DevolverColor()" (click) = "QuitarDelListadoDivisiones('Abandonadas', d.division.idDivision)">Quitar</button>
        </ion-item>
      </div>
      <ion-list-header [color] = "DevolverColor()" style = "margin-top: 10px; margin-bottom: 0px !important;" text-left *ngIf = "tipo != 'Administrativo'">
        Divisiones en las que quedo Libre:
        <button ion-button clear item-right color = "light" (click) = "AddAlListadoDivisiones('Libre')">Añadir</button>
      </ion-list-header>
      <ion-item *ngIf = "divisionesLibre.length == 0">
        No hay divisiones asignadas.
      </ion-item>
      <div *ngIf = "divisionesLibre.length > 0">
        <ion-item text-wrap *ngFor = "let d of divisionesLibre">
          <ion-thumbnail item-left>
              <img [src] = "'assets/images/materias/' + d.division.materia.img">
            </ion-thumbnail>
          <h3>{{d.division.nombre}} {{d.division.ciclo.CicloEnCadena}}</h3>
          <p>Materia: {{d.division.materia.nombre}}</p>
          <p>Faltas : {{d.faltas}} <small ion-text [color] = "DevolverColor()" (click) = "EstablecerFaltas(d)">ASIGNAR</small></p>
          <button ion-button clear item-right [color] = "DevolverColor()" (click) = "QuitarDelListadoDivisiones('Libre', d.division.idDivision)">Quitar</button>
        </ion-item>
      </div>
      </div>
      </div>
    </ion-list>

    <button ion-button block (click) = 'AgregarUsuario()' color = "secondary">Agregar</button>
    <button ion-button block (click) = 'Cancelar()' color = "danger">Cancelar</button>
  </div>

  <div *ngIf = "opciones.tipo == 'Division'">
    <ion-list>
      <ion-item>
        <ion-label color = "dark" floating>Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="division.nombre" ></ion-input>
      </ion-item>
      <ion-item style = "margin-top : 24px;">
        <ion-label color = "dark">Turno</ion-label>
        <ion-select [(ngModel)] = "division.turno">
          <ion-option value="Mañana">Mañana</ion-option>
          <ion-option value="Noche">Noche</ion-option>
        </ion-select> 
      </ion-item>
      <ion-item style = "margin-top : 24px;">
        <ion-label color = "dark">Ciclo</ion-label>
        <ion-select [(ngModel)] = "division.ciclo">
          <ion-option *ngFor = "let ciclo of ciclos" [value] = "ciclo">{{ciclo.CicloEnCadena}}</ion-option>
        </ion-select> 
      </ion-item>
      <ion-list-header color = "dark" style = "margin-top: 10px; margin-bottom: 0px !important;" text-left *ngIf = "tipo != 'Administrativo'">
        Materia :
        <button ion-button clear item-right color = "light" (click) = "AsignarMateria()">ASIGNAR</button>
      </ion-list-header>
      <ion-item *ngIf = "division.materia.idMateria == 0">
        No se asigno una materia.
      </ion-item>
      <div *ngIf ="division.materia.idMateria != 0">
        <ion-item text-wrap>
          <ion-thumbnail item-left>
              <img [src] = "'assets/images/materias/' + division.materia.img">
          </ion-thumbnail>
          <h3>Materia: {{division.materia.nombre}}</h3>
        </ion-item>
      </div>
      <ion-list-header color = "dark" style = "margin-top: 10px; margin-bottom: 0px !important;" text-left *ngIf = "tipo != 'Administrativo'">
        Aula :
        <button ion-button clear item-right color = "light" (click) = "AsignarAula()">ASIGNAR</button>
      </ion-list-header>
      <ion-item *ngIf = "division.aula.idAula == 0">
        No se asigno un aula.
      </ion-item>
      <div *ngIf ="division.aula.idAula != 0">
        <ion-item text-wrap>
          <ion-thumbnail item-left>
            <img src = "assets/images/administrador/info.png">
          </ion-thumbnail>
          <h3>Aula: {{division.aula.nombre}}</h3>
          <p>Piso: {{division.aula.piso}}
        </ion-item>
      </div>
      <ion-list-header color = "dark" style = "margin-top: 10px; margin-bottom: 0px !important;" text-left *ngIf = "tipo != 'Administrativo'">
        Profesor :
        <button ion-button clear item-right color = "light" (click) = "AsignarProfesor()">ASIGNAR</button>
      </ion-list-header>
      <ion-item *ngIf = "division.profesor.idUsuario == 0">
        No se asigno un profesor.
      </ion-item>
      <div *ngIf ="division.profesor.idUsuario != 0">
        <ion-item text-wrap>
          <ion-thumbnail item-left>
              <img [src] = "'assets/images/administrador/profesor/' + division.profesor.img">
          </ion-thumbnail>
          <h3>{{division.profesor.apellido}}, {{division.profesor.nombre}}</h3>
          <p>Legajo: {{division.profesor.legajo}}</p>
          <p>Email : {{division.profesor.email}}</p>
        </ion-item>
      </div>
      <ion-item style = "margin-top : 24px;">
        <ion-label color = "dark">Estado</ion-label>
        <ion-select [(ngModel)] = "division.estado">
          <ion-option value="Terminada">Terminada</ion-option>
          <ion-option value="Cursando">Cursando</ion-option>
          <ion-option value="No empezada">No empezada</ion-option>
        </ion-select> 
      </ion-item>
      <ion-item>
        <ion-label color = "dark">Hora</ion-label>
        <ion-datetime displayFormat="HH:mm" [(ngModel)]="division.hora" item-right>
        </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label color = "dark">Dias</ion-label>
        <ion-select [(ngModel)]="division.dias" multiple="true">
          <ion-option>Lunes</ion-option>
          <ion-option>Martes</ion-option>
          <ion-option>Miercoles</ion-option>
          <ion-option>Jueves</ion-option>
          <ion-option>Viernes</ion-option>
          <ion-option>Sabado</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color = "dark">Hora</ion-label>
        <ion-datetime displayFormat="HH:mm" [(ngModel)]="division.hora" item-right>
        </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label color = "dark">Fecha inicio</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="fechas.fechaInicio" item-right>
        </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label color = "dark">Fecha fin</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="fechas.fechaFin" item-right>
        </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label color = "dark">Prox. Clase</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="fechas.fechaProxClase" item-right>
        </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label color = "dark" floating>Cupo Maximo</ion-label>
        <ion-input type="number" [(ngModel)]="division.cupoMaximo" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color = "dark" floating>Cupo Actual</ion-label>
        <ion-input type="number" [(ngModel)]="division.cupoActual" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color = "dark" floating>Cantidad de clases</ion-label>
        <ion-input type="number" [(ngModel)]="division.cantClases" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color = "dark" floating>Clase actual</ion-label>
        <ion-input type="number" [(ngModel)]="division.claseActual" ></ion-input>
      </ion-item>
      <!-- Listado de alumnos cursando de la division -->
      <div *ngIf = "division.estado == 'Cursando'">
        <ion-list-header color = "dark" style = "margin-top: 10px; margin-bottom: 0px !important;">
          Alumnos en curso:
          <button ion-button clear item-right color = "light" (click) = "AddAlListadoAlumnos('Actuales')">Añadir</button>
        </ion-list-header>
        <ion-item *ngIf = "alumnosActuales.length == 0">
          No hay alumnos asignadas.
        </ion-item>
        <div *ngIf = "alumnosActuales.length > 0">
          <ion-item text-wrap *ngFor = "let a of alumnosActuales">
            <ion-thumbnail item-left>
              <img [src] = "'assets/images/administrador/alumno/' + a.alumno.img">
            </ion-thumbnail>
            <h3>{{a.alumno.apellido}}, {{a.alumno.nombre}}</h3>
            <p>Legajo: {{a.alumno.legajo}}</p>
            <p>Faltas : {{a.faltas}} <small ion-text color = "dark" (click) = "EstablecerFaltasAlumno(a)">ASIGNAR</small></p>
            <button ion-button clear item-right color = "dark" (click) = "QuitarDelListadoAlumnos('Actuales', a.alumno.idUsuario)">Quitar</button>
          </ion-item>
        </div>
      </div>
      <!-- Listado de alumnos terminados de la division -->
      <div *ngIf = "division.estado == 'Terminada'">
        <ion-list-header color = "dark" style = "margin-top: 10px; margin-bottom: 0px !important;">
          Alumnos que terminaron:
          <button ion-button clear item-right color = "light" (click) = "AddAlListadoAlumnos('Terminadas')">Añadir</button>
        </ion-list-header>
        <ion-item *ngIf = "alumnosTerminadas.length == 0">
          No hay alumnos asignadas.
        </ion-item>
        <div *ngIf = "alumnosTerminadas.length > 0">
          <ion-item text-wrap *ngFor = "let a of alumnosTerminadas">
            <ion-thumbnail item-left>
              <img [src] = "'assets/images/administrador/alumno/' + a.alumno.img">
            </ion-thumbnail>
            <h3>{{a.alumno.apellido}}, {{a.alumno.nombre}}</h3>
            <p>Legajo: {{a.alumno.legajo}}</p>
            <p>Faltas : {{a.faltas}} <small ion-text color = "dark" (click) = "EstablecerFaltasAlumno(a)">ASIGNAR</small></p>
            <button ion-button clear item-right color = "dark" (click) = "QuitarDelListadoAlumnos('Terminadas', a.alumno.idUsuario)">Quitar</button>
          </ion-item>
        </div>
      </div>
      <!-- Listado de alumnos que no empezaron de la division -->
      <div *ngIf = "division.estado == 'No empezada'">
        <ion-list-header color = "dark" style = "margin-top: 10px; margin-bottom: 0px !important;">
          Alumnos inscriptos:
          <button ion-button clear item-right color = "light" (click) = "AddAlListadoAlumnos('No Empezadas')">Añadir</button>
        </ion-list-header>
        <ion-item *ngIf = "alumnosNoEmpezadas.length == 0">
          No hay alumnos asignadas.
        </ion-item>
        <div *ngIf = "alumnosNoEmpezadas.length > 0">
          <ion-item text-wrap *ngFor = "let a of alumnosNoEmpezadas">
            <ion-thumbnail item-left>
              <img [src] = "'assets/images/administrador/alumno/' + a.alumno.img">
            </ion-thumbnail>
            <h3>{{a.alumno.apellido}}, {{a.alumno.nombre}}</h3>
            <p>Legajo: {{a.alumno.legajo}}</p>
            <button ion-button clear item-right color = "dark" (click) = "QuitarDelListadoAlumnos('No Empezadas', a.alumno.idUsuario)">Quitar</button>
          </ion-item>
        </div>
      </div>
      <!-- Listado de alumnos que abandonaron de la division -->
      <div *ngIf = "division.estado == 'Cursando' || division.estado == 'Terminada'">
        <ion-list-header color = "dark" style = "margin-top: 10px; margin-bottom: 0px !important;">
          Alumnos que abandonaron:
          <button ion-button clear item-right color = "light" (click) = "AddAlListadoAlumnos('Abandonadas')">Añadir</button>
        </ion-list-header>
        <ion-item *ngIf = "alumnosAbandonadas.length == 0">
          No hay alumnos asignadas.
        </ion-item>
        <div *ngIf = "alumnosAbandonadas.length > 0">
          <ion-item text-wrap *ngFor = "let a of alumnosAbandonadas">
            <ion-thumbnail item-left>
              <img [src] = "'assets/images/administrador/alumno/' + a.alumno.img">
            </ion-thumbnail>
            <h3>{{a.alumno.apellido}}, {{a.alumno.nombre}}</h3>
            <p>Legajo: {{a.alumno.legajo}}</p>
            <p>Faltas : {{a.faltas}} <small ion-text color = "dark" (click) = "EstablecerFaltasAlumno(a)">ASIGNAR</small></p>
            <button ion-button clear item-right color = "dark" (click) = "QuitarDelListadoAlumnos('Abandonadas', a.alumno.idUsuario)">Quitar</button>
          </ion-item>
        </div>
      </div>
      <!-- Listado de alumnos que quedaron libres de la division -->
      <div *ngIf = "division.estado == 'Cursando' || division.estado == 'Terminada'">
        <ion-list-header color = "dark" style = "margin-top: 10px; margin-bottom: 0px !important;">
          Alumnos que quedaron libres:
          <button ion-button clear item-right color = "light" (click) = "AddAlListadoAlumnos('Libre')">Añadir</button>
        </ion-list-header>
        <ion-item *ngIf = "alumnosLibre.length == 0">
          No hay alumnos asignadas.
        </ion-item>
        <div *ngIf = "alumnosLibre.length > 0">
          <ion-item text-wrap *ngFor = "let a of alumnosLibre">
            <ion-thumbnail item-left>
              <img [src] = "'assets/images/administrador/alumno/' + a.alumno.img">
            </ion-thumbnail>
            <h3>{{a.alumno.apellido}}, {{a.alumno.nombre}}</h3>
            <p>Legajo: {{a.alumno.legajo}}</p>
            <p>Faltas : {{a.faltas}} <small ion-text color = "dark" (click) = "EstablecerFaltasAlumno(a)">ASIGNAR</small></p>
            <button ion-button clear item-right color = "dark" (click) = "QuitarDelListadoAlumnos('Libre', a.alumno.idUsuario)">Quitar</button>
          </ion-item>
        </div>
      </div>
    </ion-list>

    <button ion-button block (click) = 'AgregarDivision()' color = "secondary">Agregar</button>
    <button ion-button block (click) = 'Cancelar()' color = "danger">Cancelar</button>
  </div>

</ion-content>
